/* ALL PAGES: makes pages that don't scroll the same width as pages that do scroll */

:root
{  overflow-y: scroll
}

body
{  
     /*background-color:#ddd;*/
	background: url('page_background.jpg') repeat-x scroll center top #ECE0D3
}

div.main_container
{  background-color: #FFF;
  border: 1px solid black;
  margin: 0px auto 0px auto;
  padding: 0px;
  text-align: left;
  vertical-align: top;
  width: 858px;
}

    div.main_container table.homepage
    {  font-size: 15px;
      line-height: 16px;
    }

        div.main_container table.homepage td.maintext
        {  padding: 20px 0px 0px 15px
        }

    div.main_container .logo
    {  padding-left: 20px;
      padding-top: 20px;
    }
    div.main_container.redirect {
      background-color:#F0AD4F;
      font-size:15px;
    }
    div.main_container.redirect div {
      padding:10px;
    }    

      div.main_container.redirect a{
        color:blue;
        text-decoration:none;
      }     

#separatorBox
{  height: 35px;
  background-color: #f0ad4f;
}

div.nav
{  margin: 0px auto 0px auto;
  width: 858px;
  padding: 0px;
}

    div.nav button.help_item
    {  
       border: 4px solid transparent;
      border-radius:45px 0px 0px 0px;
      background-color:#428bca;
      width: 130px;
      cursor: pointer;
      color:#fff;
    }

    div.nav button.help_item:hover
    {  
      background-color:#3071a9;
    }    

div.nav button.help_item div{
z-index:-100;
}


.buttons
{  margin-top: 20px;
  margin-left: 0px;
}

button.frontpage
{  background-color: #428bca;
  border-width: 0px 0px 0px 0px;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  color: #fff;
  font-size: 12px;
}

button.frontpage:hover
{  background-color: #3071a9;
  cursor: pointer;
  color: #fff;
}

button.frontpage.create
{  background-color: #f0ad4f;
  color: #000;
}

button.frontpage.create:hover
{  background-color: #ec961e;
  color: #000;
}

.footerTable
{  margin: 0px auto 0px auto;
}

.footerTable a
{  color:#0000ff;
}

#languageSelect {
float:right;
padding-right:10px;
}

.mobileMessage {
  font-size:110%;
  font-weight:bold;
  color:red;
  padding:10px;
}

.homepage_bullets {
margin-bottom:3px;
}
