
text {
    font-family: "Arial", Helvetica, sans-serif;
}

.name {
    font-weight: bold;
}

.about {
    fill: #777;
    font-size: smaller;
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.drawcanvas{
    width:1000px;
    height:1000px;
    border:1px solid #555;
//position:relative;
    top:10px;
    left:10px;
}

.child{
    position: absolute;
    top:5%;
    left:5%;
    right:5%;
    bottom:0;
    margin:auto;
    max-height:100%;
    max-width:100%;
}
select option {
    width: 120 ;
}
select.addchild{

    visibility: hidden;
}
select.addcondition{
    visibility: hidden;
}

table.pop, th {text-decoration: underline }
th { padding : 1px; }
td { padding : 1px; }

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    text-decoration: underline;

}

/* Risk Calculator CSS */

.maintable{
    width:100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}

.risktable{
    width:100%;
    vertical-align: top;
    text-align: right;
    background-color: ghostwhite;
}
.riskcount{
    width:100%;
    vertical-align: top;
    text-align: left;
}
.risktable th{
    border-bottom: solid 1px slategray;
    background-color: slategray;
}

/* Calculation text boxes */

.trisk {
    width: 75px;
    height: 65px;
    float: left; padding: 2px 5px 2px 4px;
    border: 3px solid #c7c7c7;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    font: all-small-caps Arial;
    color: darkgreen;

    background-color: cornsilk;
    font-weight: bold;
    outline: none; /*Remove Chrome and Safari glows on focus*/
    text-align: center;
}

#total{
    font-size: 32px;
}

.drisk {
    width: 75px;
    float: left; padding: 2px 5px 2px 4px;
    border: 3px solid #c7c7c7;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    font: all-small-caps 28px Arial; color: darkblue;
    font-weight: bold;
    outline: none; /*Remove Chrome and Safari glows on focus*/
    text-align: center;
}

#searchbar {
    width: 75px;
    float: left; padding: 2px 5px 2px 4px;
    border: 3px solid #c7c7c7;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    font: italic 24px Georgia; color: #898989;
    outline: none; /*Remove Chrome and Safari glows on focus*/
}

#searchbar.active {
    /*background: #ebf3fc url(bar-bg-active.png) repeat-x;*/
    border: 3px solid #abd2ff;
}

#searchbtn {
    width: 50px; height: 70px; float: left; margin: 18px 0 0 -115px;
    /*background: url(search.png); text-indent: -9999px;*/
    padding: 0 0 0 67px; /*IE fix*/
    cursor: pointer;
}
#searchbtn:hover {
    background-position: 0 -70px;
}

.section{
    width: 100%;
    font: all-small-caps 28px Arial;
    color: darkred;
    font-weight: bold;
    float: left;
    border-bottom: solid 2px;
    border-bottom-color: slategray;
    text-align: left;

}

.tsection{
    font: all-small-caps 28px Arial;
    color: darkred;
    font-weight: bold;
    float: left;
    padding-right: 10px;
}


i#options .ui-button.ui-state-active .ui-button-text {
    color: red;
    background-color: pink;
}

#heighttable{
    width: 80px;
    font: all-small-caps 8px Arial;
    background-color: gray;
    color: white;
    border-bottom-color: darkred;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
#heighttable tr td{
    border-bottom: solid 1px;
    border-bottom-color: darkred;
}

#weighttable{
    width: 270px;
    font: all-small-caps 8px Arial;
    background-color: #dcdcdc;
    border-bottom-color: darkred;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: center;
}
#weighttable tr td{
    border-bottom: solid 1px;
    border-bottom-color: darkred;

}
#weighttitle th{
    font: all-small-caps 12px Arial;
    border-bottom: solid 1px slategray;
    background-color: darkred;
    color: white;
}

#foottable{
    width: 100%;
    font: all-small-caps 7px Arial;
    background-color: #dcdcdc;
    border-bottom-color: darkred;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: center;
}
.counts{
    padding-right: 25px;
}

.tdselected {
    background-color: steelblue;
    color: white;
}
.cellselected {
    background-color: red;
    color: black;
}
.pdf{
    font-size: 12px;
    width: 220px;
    text-justify: auto;
}
.scoreinfo{
    font: all-small-caps 12px Arial;
    font-weight: bold;
    border-style:  none;
    width: 180px;
    background-color: transparent;
    color: steelblue;
}
.ui-button-text {
    font-size: inherit !important;
}
/*#family_pedigree{*/
    /*width: 100%;*/
    /*overflow: scroll;*/

/*}*/

#family_pedigree{
    border:2px black solid;
    padding:0 1em;
    overflow-x:scroll;

}
.family_dialog{

    border: 3px solid #c7c7c7;
    padding-bottom: 0;
    height: 500;
    overflow-x:scroll;
}

.option_dialog{

    border: 3px solid #c7c7c7;
    padding-bottom: 0;
    weight: 800px;
    height: 600px;
    overflow-x:scroll;
    color:
}

.tablebutton{
    background-color:darkslategray;
    color:white;
    visibility:visible;
    padding: 5 5 5 5;
    font: bold 25px "Arial", Verdana, Arial, Helvetica, sans-serif;
    cursor:pointer;
}

#svgframe {
    /*display: block;*/
    /*position: relative;*/
    /*width: 1000;*/
    /*width: 100%;*/
    padding-bottom: 1px;
    margin-bottom: 25px;
    /*padding-left: 10%;*/
    /*overflow: hidden;*/
    /*left:0;*/
    /*background-color: white;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: darkslateblue;*/
    /*border-bottom-width: thick;*/

    /*border-top-style: solid;*/
    /*border-top-color: darkslateblue;*/
    /*border-top-width: thick;*/

    /*overflow: scroll;*/
    /*overflow-x: auto; overflow-y: auto;*/
    /*aspectRatio: 400/200;*/

    /*width: 100%;*/
    /*height: 100%;*/
    /*background: red;*/
    /*padding: 5px;*/
    /*border: #CCC solid 1px;*/
    /*text-align: center;*/
    /*position: fixed;*/
    /*margin-left: -375px;*/
    /*margin-top: -75px;*/
    /*left: -10%;*/
    /*top: 10%;*/

}



#family_pedigree_info{
    vertical-align: top;
    padding-top: 25px;
}

/*
//build health table
*/

#health_table {
    width:  98%;
    padding-top: 1px;
    padding-left: 20px;
    margin-top: 25px;
}

#health_table caption {
    padding: 0 0 5px 0;
    width: 98%;
    font: bold 20px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

#health_table th {
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    color: white;
    border-right: 1px solid navy;
    border-bottom: 1px solid navy;
    border-top: 1px solid navy;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background:darkslategray;
}

#health_table th.nobg {
    border-top: 0;
    border-right: 1px solid #C1DAD7;
    background: darkslategray;
    color: white;
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
}

#health_table td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: white;
    padding: 6px 6px 6px 12px;
    color: #000000;
}


#health_table td.alt {
    background: #F5FAFA;
    color: #797268;
}

#health_table th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background:darkslategray;
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
}

#health_table th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: darkslategray;
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}
#health_table td.diseaseid{
    background-color: darkslategray;
    color: white;
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
}
.infobox{
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #F5FAFA;
    stroke-width: '0.1';
    font-size: 16.5;
    font-weight: 100;

}
.namebox{
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #F5FAFA;
    stroke-width: '0.1';
    font-size: 12.5;
    font-weight: 100;


}
.pivotlist{
    width: 400px;
}

/*div#svgframe {*/
    /*height: 400px;*/
    /*width: 400px;*/
    /*border:2px solid #000;*/s
    /*overflow: scroll;*/
/*}*/
svg#sky {
    height: 100px;
    width: 1100px;
    border:1px dotted #ccc;
    background-color: #ccc;
}
/*embed {  overflow:scroll; position: absolute; width: 100%; height: 100%; background-color: #AAAAAA}*/

#bmi_table caption {
    padding: 0 0 5px 0;
    width: 98%;
    font: bold 18px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}

#bmi_table td{
    font: bold 15px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: end;
    border-bottom:1px solid darkslategray;
}

#box
{
    width: 150px;
    height: 150px;
    background: red;
    padding: 5px;
    border: #CCC solid 1px;
    text-align: center;
    position: fixed;
    margin-left: -75px;
    margin-top: -75px;
    left: 50%;
    top: 50%;

}

#diseaseopts{
    width:350px
}

.ctable table
{
    width:100%;
    background:#d5d5d5;
    padding:8px 4px 8px 4px;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border:1px solid #dbdbe2;
    visibility: hidden;

}
.ctable td
{
    text-align:left;
    font-family:"Arial MS";
    font-size:8px;
    padding:5px;
    border-bottom:1px solid darkslategray;
    border-right:1px dashed slategray;
    border-left:1px dashed slategray;
}

.closer button{
    font-family:"Arial MS";
    font-size:8px;
    background-color: darkslategrey;
    color: white;
    border: none;
    padding-right: 25px;
}