.htable
{
    overflow:hidden;
}
.htable h2
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#0e337f;
    font-size:17px;
    margin-top:40px;
}
.htable table
{
    width:100%;
    background:#d5d5d5;
    padding:8px 4px 8px 4px;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border:1px solid #dbdbe2;

}
/*.htable th*/
/*{*/
    /*padding:5px;*/
/*}*/
.htable th{
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background:#00477A;
    font: bold 15px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    color: white;
    border:2px solid #00477A;
    /*border-right:1px solid slategray;*/
    /*border-left:1px solid slategray;*/

}
.htable td
{
    text-align:left;
    font-family:"Arial MS";
    font-size:15px;
    padding:5px;
    border-bottom:1px solid #00477A;
    border-right:1px solid slategray;
    border-left:1px solid slategray;
}
.htable input[type="text"]
{
    width:50px;
    border:1px solid #b10c04;
    text-align:center;
}

.htable input[type="text"]:focus
{
    color:#1226a1;
    font-weight:bold;
}

.htable.mw
{
    padding:10px 0 10px 20px;
    border:1px solid #e4e3df;

}
.htable.mw:hover
{
    background:#fbfbfa;
}
.htable.sw
{
    margin-top:20px;
    padding:10px 0 10px 20px;
    border:1px solid #e4e3df;
}
.htable h1
{
    color:#1b2d58;
    font-size:18px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
.htable.sw:hover {
    background: #fbfbfa;
}

.diseaseid{
    background-color: #00477A;
    color: white;
    font: bold 8px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
}

#bmi_table td{
    font: bold 20px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: lightgrey;
    border-bottom:1px solid #00477A;
}
#health_table{
    font: bold 15px "Arial MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: lightgrey;
    border-bottom:1px solid #00477A;
}