.diabetes_information_text {
	font-size:large;
	text-align:left;
}

#diabetes_content {
	width: 1000px;
	height: auto; 
	vertical-align: top;
}

.column {
	vertical-align:top;
	width:480px;
}


.aradio label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:transparent !important;
	font-size:12px !important;
	border: none !important;
}


.not-selected {
	color:#1C94C4 !important;
}

.selected {
	color:darkred !important;
}

.risktable{
    width:100%;
    vertical-align: top;
    text-align: right;
}

.section-header {
	font-size:16px !important;
	border-collapse:collapse;
  color: darkred;
  font-weight: bold;
  border-bottom: solid 2px;
  border-bottom-color: slategray;
  text-align: left;
  width:100%;
  vertical-align:bottom;
}

.drc-info td {
	color: #1C94C4;
	font-weight: bold;
}
.bottom-grey {
    border-bottom: solid 2px;
    border-bottom-color: slategray;	
}
.riskcount{
    width:100%;
    vertical-align: top;
    text-align: left;
}

.trisk {
    height: 65px;
    font-size:32px !important;
}

.drisk {
    width: 75px;
    border: 3px solid #c7c7c7;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    font-weight: bold;
    outline: none; /*Remove Chrome and Safari glows on focus*/
    text-align: center;
		float:right;
}



.drisk {
	background-color:cornsilk;
}

/* Below are the BMI table elements */

#bmi_table {
	width:450px;
}

#bmi_table th {
	background-color:#226694;
	color:#FFF;
	text-decoration:none;
	font-size:small;
	width:88px;
}

#bmi_table td.normal {
	background-color:#FFFFEE;
	color:#222;
	font-size:small;
	border: 1px solid black;
	width:88px;
	text-align:center;
	border-top:1px solid #EEEEDD;
	border-left:1px solid #EEEEDD;
	border-bottom:2px solid #DDDDCC;
	border-right:2px solid #DDDDCC;
}

#bmi_table td.chosen {
	background-color:#4286b4;
	color:#FFF;
	font-size:small;
	border: 1px solid black;
	width:88px;
	text-align:center;
	border-top:1px solid #226694;
	border-left:1px solid #226694;
	border-bottom:2px solid #024674;
	border-right:2px solid #024674;
}

#bmi_table td.header {
	background-color:#AAA;
	color:#222;
	font-size:small;
	border: 1px solid black;
	width:88px;
	text-align:center;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-bottom:2px solid #888;
	border-right:2px solid #888;
}
#bmi_table td.underline {
	border-bottom:2px solid #222;
}

.ui-state-active { background: blue; }